<div class="container align-items-center d-flex flex-column">
<form autocomplete="off" novalidate="" class="d-flex col-sm-8">
  <div class="input-group round mb-3">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Search"
      aria-label="Search"
      name="q"
      hx-get="/user"
      hx-trigger="input changed delay:500ms"
      hx-target="#res"
    />
    <span class="input-group-text border-0">
      <i class="bi bi-search"></i>
    </span>
  </div>
</form>
<div id="res">
</div>
<div>
