<main class="d-flex">
  <div
    class="d-flex flex-column p-2 sticky-top"
    style="width: 260px;height:100vh;"
  >
    <div
      class="text-bg-success card d-flex justify-content-end p-2 mb-3"
      style="width: 240px;height:100px;"
    >
        <h2 class="fs-4 fw-bold ms-3">// EasyPush</h2>
    </div>

    <ul class="nav flex-column mb-auto ms-3">
      <li class="nav-item nav-link">
        <a href="/" class="text-decoration-none text-dark">
          <i class="bi bi-house-door-fill me-2" width="16" height="16"></i>
          <strong class="">
            Home
          </strong>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link text-dark"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><i class="bi bi-person-fill me-2"></i>
          <strong>User</strong>
        </a>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" hx-get="/user/edit" hx-target="#main">Add User</button></li>
          <li><button class="dropdown-item" hx-get="/search" hx-target="#main">Search</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" href="">feature</button></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link text-dark"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><i class="bi bi-people-fill me-2"></i>
          <strong>Group</strong>
        </a>
        <ul class="dropdown-menu dropend">
          <li><button class="dropdown-item">Add Group</button></li>
          <li><button class="dropdown-item">Search</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item">feature</button></li>
        </ul>
      </li>
      <li>
        <a href="/" class="nav-link text-dark" hx-get="/" hx-target="body">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          feature
        </a>
      </li>

    </ul>
    <hr>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg sticky-top">
      <div id="search" class="container">

      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <div class="navbar-item dropdown px-2">
            <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle h2"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end text-small shadow">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
    <div class="d-flex m-3 justify-content-center" id="main">

    </div>
  </div>

</main>
